---
import Formulario from '../components/Formulario.astro';
import Layout from '../layouts/Layout-contacto.astro';
---
<Layout title='Contacto'>
      <div class="flex justify-center">
      <Formulario/>
      </div>
</Layout>