---
---
<header class="fixed top-0 left-0 w-full z-10 bg-[#6870] bg-opacity-100  text-white p-4">
  <a transition:name="header" href="/landing/" class="flex justify-center pl-5"> <img class="items-center" src="/landing/logo.svg" alt="" width="300"></a> 
</header>