
h2{
      font-size: 1.5em !important;
      font-weight: bold;
      padding-top: 1.5em;
}
h3{
      font-size: 1.3em !important;
      font-weight: bold;
      padding-top: 1.3em;
      
}

@keyframes sticky-parallax-header-move-and-size {
	from {
		background-position: 50% 0;
		height: 70vh;
		font-size: calc(3vw + 0.5em);
	}
	to {
		background-position: 50% 100%;
            color: white;
		height: 10vh;
		font-size: 2em;
	}
}

@keyframes btn-fixed-parallax {
      from {
            top:20rem;
      }
      to {
            top: 0.5em;
            color: white;
      }
}

#sticky-parallax-header {
	position: fixed;
	top: 0;
      width: 100vw;
	animation: sticky-parallax-header-move-and-size linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 90vh;
}

#btn-parallax{
      animation: btn-fixed-parallax linear forwards;
      animation-timeline: scroll();
      animation-range: 0vh 90vh;
}

#title-parallax{
      animation: btn-fixed-parallax linear forwards;
      animation-timeline: scroll();
      animation-range: 0vh 90vh;
}

body {
	padding-top: 80vh !important;
}