---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="AsemhWeb-Software" />
		<!-- imagen para vista miniatura -->
		<meta property="og:image" content="/landing/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/landing/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<section class="mb-20">
			<slot />
		</section>

	</body>
</html>
<style is:global>
	:root {
		/* Colors hexadecimal en la gama de azul*/
		--accent: #00547a;
		--background: #f5f5f5;
		--foreground: #333333;
		--contrasted: #ffffff;
		--muted: #dcdcdc;
		--border: #cccccc;
		--link: #ff7f50;
		--code: #f5f5f5;
		--success: #ff7f50;
		--info: #ff7f50;
		--warning: #ff7f50;
		--error: #ff7f50;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--background);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		margin: 0;
		padding: 0;
		color: var(--foreground);
	}
	header {
		background: var(--accent);
		color: var(--foreground);
		padding: 1rem;
	}
	header h1 {
		margin: 0;
		color: var(--contrasted);
		font-size: 1.5rem;
	}
	

</style>
