---
import { ViewTransitions } from "astro:transitions";
import Formulario from "../components/Formulario.astro";
import BotonContacto from "../components/BotonContacto.astro";


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/landing/favicon.svg" />
		<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/landing/css/main.css">
		<link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
		<ViewTransitions />
		<title>{title}</title>
	</head>
	<body>
		<section class="mb-20">
			<BotonContacto tr="hero"/>
			<slot />

		</section>
		<div class="flex justify-center">
			<Formulario/>
		</div>

	</body>
	<footer>
			
		<script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='PHONE';ftypes[4]='phone';fnames[3]='ADDRESS';ftypes[3]='address';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
	</footer>
</html>

<style type="text/css">
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
		We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<style is:global>
	:root {
		/* Colors hexadecimal en la gama de azul*/
		--accent: #00547a;
		--background: #f5f5f5;
		--foreground: #333333;
		--contrasted: #ffffff;
		--muted: #dcdcdc;
		--border: #cccccc;
		--link: #ff7f50;
		--code: #f5f5f5;
		--success: #ff7f50;
		--info: #ff7f50;
		--warning: #ff7f50;
		--error: #ff7f50;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--background);
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		margin: 0;
		padding: 0;
		color: var(--foreground);
	}
	header {
		background: var(--accent);
		color: var(--foreground);
		padding: 1rem;
	}
	header h1 {
		margin: 0;
		color: var(--contrasted);
		font-size: 1.5rem;
	}
	#mc_embed_signup{background:#fff;clear:left; font:14px Helvetica,Arial,sans-serif; width: 600px;}

</style>
